@import "../Base/variable.module";
@import "../Base/mixins.module";

.home {
 
  display: flex;
  padding: 2em;
  .homeleft {
    padding: 5%;
    width: 50%;
    &__heading {
      @include heading;
      span {
        white-space: nowrap;
      }
    }
    &__subheading {
      margin: 4% 0;
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 0.05rem;
      color: $color-secondary;
      // @include para;
    }

    &__button {
      margin-top: 4%;
      @include button;
    }
  }

  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
    .homeleft {
      width: 100%;
      padding: 0% 5%;
    }
  }
}

// it works

.itWork {
  margin-top: 25%;
  // margin-bottom: 15%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  h2 {
    position: absolute;
    @include largeheading;
  }

  .testimonialcards{
    position: absolute;
    height: 100vh;
    width: 100vw;

  overflow: scroll;
  }

}

///////////////////////////////////////// Work ///////////////////
.cards{
  margin-top:25% ;
  height: 100vh;
  width: 100vw;

  overflow: scroll;
}