@import '../Base/variable.module';
@import '../Base/mixins.module';


.card{
    display: flex;
    color: $color-secondary;
    // background-color: $color-primary;
    padding: .5% 5%;
    border-radius: 8vh;
    
    &__left{
        width: 50%;
       
        h1{
          
          font-size:clamp(3.5vw , 3.5vh , 4.5vh);
          line-height:clamp(3.7vw , 3.7vh , 4.7vh);
          font-weight: 900;
        }
        h2{
           margin: .5em 0;
           font-size:clamp(2vw , 2vh , 3vh);
           line-height:clamp(2.2vw , 2.2vh , 3.2vh);
           letter-spacing: -1.12px;
           font-weight: 700;
        }
        ul{
            
          
            li{
                list-style: none;
                // opacity: .5;
                background-color: $color-primary-light;
                margin: .6em 0;
                
                border-radius: 9rem;

                h3{
                    padding: 1em 1em;
                   font-weight: 400;
                }
            }
        }

        &_button{
            @include button;
            margin-top: 8%;
        }
      
    }

    &__right{

    }

}